*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
a{
    text-decoration:none;
    color:black;
}
.box{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
header{
    width:100%;
    height:15vh;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
#logo{
    font-size:120px;
     font-family: "Inspiration", cursive;
    font-weight: 400;
     font-style: normal;
     cursor:default;
}
nav{
    width:50%;
    height:15vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
#about-me{
    font-size:52px;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
}
#experience{
    font-size:48px;
}
#projects{
    font-size:48px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}
.theme-toggle{
    width:15%;
    height:15vh;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#theme-arrow{
    height:10vh;
    transform:rotate(-21deg);
    z-index:0;
    margin-bottom:0.5vh;
}
#theme-text{
    z-index:1;
    font-size:36px;
}
#theme-icon{
    height:15vh;
}
main{
    width:100%;
    height:70vh;
    display:flex;}
main img{
    height:300px;
}
footer{
    width:100%;
    height:8vh;
    display:flex;
}
footer img{
    height:60px;;
}